PORT=5000
HOST=0.0.0.0

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DB_CONNECTION available = postgresql, mysql, sqlite, sqlserver, mongodb, cockroachdb

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=
DB_SOCKET=
DB_URL="${DB_CONNECTION}://${DB_USERNAME}:@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

DB2_CONNECTION=sqlserver
DB2_HOST=127.0.0.1
DB2_PORT=1443
DB2_DATABASE=
DB2_USERNAME=
DB2_PASSWORD=
DB2_SOCKET=
DB2_URL="${DB2_CONNECTION}://${DB2_HOST}:${DB2_PORT};database=${DB_DATABASE};user=${DB_USERNAME};password=${DB_PASSWORD};encrypt=true;trustServerCertificate=true"